In [ ]:
.isnull().sum()

In [ ]:
.describe()

In [ ]:
.dropna()

In [ ]:
# Replace a whitespace sequence or empty with a NaN value and reassign this manipulation to df.
.replace(r'^\s*$', np.nan, regex=True)

In [ ]:
actually tell what your function is doing

In [ ]:
#EXPLORE before prep
#view the 1st 5 observations
#df.head()

#view # of columns and rows
#df.shape

#view spread of data T=transpose
#df.describe()
#df.describe().T

#view info, rows, columns, dtype, counts of data
#df.info(show_counts=True)

# view null counts
#df.isnull().sum()

#view column names with null values True/False
#df.columns[df.isnull().any()]

In [ ]:
def prep_zillow_data(df):
    # Drop duplicate columns
    #df.drop(columns=['column1', 'column2'], inplace=True)
    
    # Replace a whitespace sequence or empty with a NaN value and reassign this manipulation to df.
    #df = df.replace(r'^\s*$', np.nan, regex=True)

    # Drop all rows with any Null values, assign to df, and verify with df.info().
    df = df.dropna()
    
   
    # Drop null values in column stored as whitespace    
    #df['column'] = df['coulumn'].str.strip()
    #df = df[df.column != '']
    
    # Convert to correct datatype
    #df['column'] = df.column.astype(float)
    
    # Convert binary categorical variables to numeric
    df['column1_encoded'] = df.column1.map({'Female': 1, 'Male': 0})
    df['column2-encoded'] = df.column2.map({'Yes': 1, 'No': 0})
    
    # Get dummies for non-binary categorical variables
    dummy1_df = pd.get_dummies(df[['multiple_lines', \
                              'online_security', \
                              'online_backup', \
                              'device_protection', \
                              'streaming_tv', \
                              'streaming_movies', \
                              'internet_service_type'
                              ]], dummy_na=False, \
                              drop_first=True)
    
    
    dummy2_df = pd.get_dummies(df[['tech_support','payment_type', 'contract_type']],\
                               dummy_na=False, drop_first=False)
    
    
    # Concatenate dummy dataframe to original 
    df = pd.concat([df, dummy1_df, dummy2_df], axis=1)
    
    # split the data
    train, validate, test = split_telco_data(df)
    
    return train, validate, test

In [ ]:
def prep_zillow_data(df):
    
    # Drop null values stored as whitespace    
    df['total_charges'] = df['total_charges'].str.strip()
    df = df[df.total_charges != '']
    
    # Convert to correct datatype
    df['total_charges'] = df.total_charges.astype(float)
    
    # Convert binary categorical variables to numeric
    df['gender_encoded'] = df.gender.map({'Female': 1, 'Male': 0})
    df['partner_encoded'] = df.partner.map({'Yes': 1, 'No': 0})
    df['dependents_encoded'] = df.dependents.map({'Yes': 1, 'No': 0})
    df['phone_service_encoded'] = df.phone_service.map({'Yes': 1, 'No': 0})
    df['paperless_billing_encoded'] = df.paperless_billing.map({'Yes': 1, 'No': 0})
    df['churn_encoded'] = df.churn.map({'Yes': 1, 'No':0})
    # Get dummies for non-binary categorical variables
    dummy1_df = pd.get_dummies(df[['multiple_lines', \
                              'online_security', \
                              'online_backup', \
                              'device_protection', \
                              'streaming_tv', \
                              'streaming_movies', \
                              'internet_service_type'
                              ]], dummy_na=False, \
                              drop_first=True)
    
    
    dummy2_df = pd.get_dummies(df[['tech_support','payment_type', 'contract_type']], dummy_na=False, drop_first=False)
    
    #You may want to fill your missing values with a value instead of dropping the rows. One way to do this is to apply the .fillna() method to your dataframe.
#Default arguments for value and method parameters.
#df.fillna(value=None, method=None)

    # Concatenate dummy dataframe to original 
    df = pd.concat([df, dummy1_df, dummy2_df], axis=1)
    
    # split the data
    train, validate, test = split_telco_data(df)
    
    return train, validate, test

In [ ]:
def wrangle_zillow():
#
#'''This function acquires, preps, and splits the zillow data'''
#df = get_zillow_data()
#df = prep_zillow_data(df)
#train, validate, test = split_zillow_data(df)
#return train, validate, test ###